.header {
    text-align: center;
}

.jumbotron {
    background-color: black;
    color: white;
}

.display-4 {
    font-weight: bold;
}

#city-search {
    padding: 5px 0;
    line-height: 1.5;
}

#city-submit {
    margin-top: -5px;
    margin-left: -3px;
}

#cities-col {
    background-color: rgb(190, 190, 190);
}

#city-list {
    margin: 20px 0;
}

#current-forecast {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

#forecast-city-header {
    font-weight: bold;
    font-size: large;
}
